<form [formGroup]="bookForm" (ngSubmit)="submit()" class="max-w-sm mx-auto">
  <div class="mb-5">
    <label for="title" class="block mb-2 text-sm font-medium text-gray-900"
      >Title :
    </label>
    <input
      id="title"
      type="text"
      formControlName="title"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
  </div>

  <div class="mb-5">
    <label for="author" class="block mb-2 text-sm font-medium text-gray-900"
      >Author :
    </label>
    <input
      id="author"
      type="text"
      formControlName="author"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
  </div>

  <div class="mb-5">
    <label
      for="description"
      class="block mb-2 text-sm font-medium text-gray-900"
      >Description :
    </label>
    <input
      id="description"
      type="text"
      formControlName="description"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
  </div>

  <div class="mb-5">
    <label for="status" class="block mb-2 text-sm font-medium text-gray-900"
      >Status :
    </label>
    <select
      name="status"
      id="status"
      formControlName="status"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    >
      @for(status of BS;track $index){
      <option [value]="status">{{ bsLabels[status] }}</option>
      }
    </select>
  </div>
  <div class="flex justify-end pr-4 pt-4">
    <button type="submit" [disabled]="!bookForm.valid" class="bg-blue-500 hover:bg-blue-700 disabled:bg-gray-500 text-white font-bold py-2 px-4 rounded">Submit</button>
  </div>
</form>
